
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


#id {
    background-color: black;
    color: brown;
    border-style: solid;
    border-color: aqua;
    border-width: 100px;
    border: 5px;
    border-radius: 600px;
    border: solid red;
    border-width: 20 10px;    
}

.class {
    font-size: x-large;
    font-style: italic;
    margin-top: 100px;
}

#font {
    font-family: 'Tilt Prism', cursive;
    padding-left: 50px;
}

h2{
    font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: blueviolet;
}